extends ../layout/index
block contenido
    section(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal") Raíces
        h2.text-3xl.text-lime-600.font-extrabold.text-center= pagina
        div(class="mt-8 mx-auto max-w-md")
            div.bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.tetxt-gray-400.mb-2.font-bold(for="email") Tu e-mail
                        input(type="email" placeholder="Tu e-mail" name="mail" id="mail" class="w-full px-3 py-2 border border-slate-300 rounded-md focus:outline-teal-300")

                    div.flex.items-center.justify-between
                        a(class="text-gray-500 text-xs"  href="/auth/login") ¿Ya tienes cuenta? Inica Sesión
                        a(class="text-gray-500 text-xs" href="/auth/register") No tienes cuenta? Crear una
                    input(type="submit", value="Enviar email de recuperación" class="w-full bg-sky-700	text-white font-bold hover:bg-black py-3 cursor-pointer rounded-md ")