extends ../layout/index
block mainContent
    section.py-10
        h1.text-center.text-4xl.font-extrabold Bienes
            span.font-normal Raíces
        h2.text-center.text-lg.mt-2= page
        if errors
            div(class="mt-6 max-w-md mx-auto bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded")
                each error in errors
                    p= error.msg
        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow.space-y-3
                form.space-y-4(method="POST"  novalidate)
                    input(type="hidden" name="_csrf" value= csrfToken)

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Escribe tu nueva contraseña
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="Tu nueva contraseña" type="password" name="password")
                    div.mt-4
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password_confirmation") Confirma tu nueva contraseña
                        input#password_confirmation.w-full.px-3.py-2.border.border-gray-300.rounded-sm.placeholder-gray-400(placeholder="Confirma tu nueva contraseña" type="password" name="password_confirmation")
                    div.mt-4
                        a(href="/auth/register" class="text-sm text-gray-600 hover:text-violet-800 ") ¿Aún no tienes una cuenta? Crea una
                    div
                    input(type="submit" value="Restablecer Contraseña" class="bg-violet-600 w-full text-white uppercase font-bold py-2 rounded hover:cursor-pointer hover:bg-violet-700 transition-colors")